# Business Problem - Predict the Price of Bangalore House

# Using Linear Regression - Supervised Machine Learning Algorithm

Load Libraries

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

Load Data

In [3]:
path=r"C:\Users\QFAROOQU\Downloads\House_Price_Prediction.csv"
df=pd.read_csv(path)

In [4]:
df.head()

   image_id  n_citi  bed  bath  sqft   price
0         1      48    3     2   713  228500
1         4      55    4     3  2547  385100
2         6      55    4     3  2769  415000
3         7      48    5     2  2600  545000
4         8      48    5     2  2600  545000

Split Data

In [5]:
X = df.drop('price', axis=1)
y = df['price']

In [6]:
print('Shape of X = ', X.shape)
print('Shape of y = ', y.shape)

Shape of X =  (12518, 5)
Shape of y =  (12518,)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=51)
 
print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (10014, 5)
Shape of y_train =  (10014,)
Shape of X_test =  (2504, 5)
Shape of y_test =  (2504,)

Feature Scaling

In [8]:
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

Linear Regression - ML Model Training

In [9]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
 
lr.fit(X_train, y_train)
 
lr.coef_
 
lr.intercept_

np.float64(687569.6235270621)

Predict the value of Home and Test

In [10]:
X_test[0, :]
 
lr.predict([X_test[0, :]])
 
lr.predict(X_test)
 
y_test
 
lr.score(X_test, y_test)

0.3494300133103778